body{
    max-width: 1440px;
    margin: auto;
}

.section{
    width: 1240px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F6F6F6 ;
    border-radius: 30px;
}