.banner{
    max-width: 1240px;
    height: 223px;
    margin: auto;
    position: static;
    .banner__img{
        margin: auto;
        width: 1240px;
        height: 223px;
        object-fit: cover;
        border-radius: 30px;
        position: static;
    }
    .banner__p{
        position: fixed ;
        margin: 0px;
        font-size: 40px;
        color: white;
        // calcul arbitraire à modifier
        top: 160px;
        right: 1000px;
    }
}